<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
        <!--The minimum number of JDBC connections that C3P0 will keep ready-->
        <property name="hibernate.c3p0.min_size">5</property>
        <!--The maximum number of connections in the pool. An exception will be thrown at runtime if this number is exhausted-->
        <property name="hibernate.c3p0.max_size">20</property>
        <!--The timeout period (in this case, 5 minutes or 300 seconds) after which an idle connection will be removed from the pool-->
        <property name="hibernate.c3p0.timeout">300</property>
        <!--The maximum number of prepared statements that will be cached. Caching of prepared statements is essential for best performance with Hibernate-->
        <property name="hibernate.c3p0.max_statements">50</property>
        <!--The idle time in seconds before a connection is automatically validated-->
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!--enables logging of all generated SQL to the console-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    </session-factory>
</hibernate-configuration>